@media only screen and (min-width:1500px) {
    .container-fluid {
        max-width: 1440px;
        margin: 0px auto;
    }
}

@media only screen and (min-width:1300px) {
    .modal-header {
        display: none !important;
    }

    .modal-content {
        min-height: 100vh !important;
    }
}

@media only screen and (max-width:1100px) {
    .f-80 {
        font-size: 50px;
        line-height: normal !important;
    }

    .heading-secondary {
        font-size: 20px;
    }

    .main-text-2 h1 {
        font-size: 60px;

    }
}

@media only screen and (max-width:991px) {
    .f-55 {
        font-size: 40px;
    }

    .header-text {
        margin-top: 10px;
    }

    .header-text .text {
        margin: 30px 0px !important;
    }

    .header {
        height: 100%;
    }

    .main-text h1 {
        font-size: 80px;

    }

    .main-text-2 h1 {
        font-size: 50px;

    }

    .input {
        font-size: 18px;
    }

    .input::placeholder {
        font-size: 18px;

    }

    .heading-secondary {
        display: none;
    }

    br {
        display: none;
    }

    .steps-text {
        padding: 0px 10px;
        width: 100% !important;
    }

    .steps-img {
        margin-bottom: 80px !important;
    }

    .justify-center-sm {
        justify-content: center !important;
    }

    .m-md-b {
        margin-bottom: 30px !important;
    }

    .m-md-b2 {
        margin-bottom: 10px !important;
    }

    .steps-row {
        justify-content: center !important;
        margin-top: 0px !important;
    }

    .steps-img {
        display: flex;
        justify-content: center;
    }

    .margin-start {
        margin-left: auto;
    }

    .mt-200 {
        margin-top: 100px;
    }

    .f-60 {
        font-size: 40px;
        line-height: normal !important;
    }

    .text-end {
        text-align: center !important;
    }

    .navbar-collapse {
        position: absolute !important;
        top: 85px !important;
        right: 0;
        background-color: rgba(0, 0, 0, 0.781);
        width: 100%;
        padding: 10px;
    }

    .nav-btn {
        width: 100%;
        margin-left: 0px !important;
    }

    .navbar-light .navbar-nav .nav-link {
        color: white !important;
    }
}


@media only screen and (max-width:479px) {
    .iframe3 {
        height: 70vh !important;
    }

    .mt-200 {
        margin-top: 10px;
    }

    .main-text h1 {
        font-size: 50px;

    }

    .main-text-2 h1 {
        font-size: 40px;

    }

    .input {
        font-size: 14px;
    }

    .input::placeholder {
        font-size: 14px;

    }

    .f-33 {
        font-size: 25px;
    }

    .f-80 {
        font-size: 25px;
    }

    .last-text {
        font-size: 30px;
        line-height: normal;
    }

    .footer-list {
        flex-direction: column !important;
    }

    .heading-secondary {
        text-align: center;
    }

    .text {
        text-align: center;
    }

    .f-48 {
        font-size: 35px;
    }

    .p-responsive {
        padding: 0px 0px !important;

    }

    br {
        display: none !important;
    }

    .f-light {
        line-height: normal;
        margin-top: 20px;
    }

    .steps-img {
        margin-bottom: 80px !important;
    }

    .sm-column {
        flex-direction: column !important;
    }

    .steps-text {
        width: 100% !important;
    }

    .ls2 {
        white-space: nowrap;
    }

    .mt-40 {
        margin-top: 40px;
    }

    .no-mr {
        margin-top: 0px !important;
    }

    /* .no-m {
        margin: 0px !important;
        padding: 0px !important;
    } */

    .f-55 {
        font-size: 30px;
    }

}