/* font-family: 'Poppins', sans-serif; */
/* font-family: 'Playfair Display', serif; */
body{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background-color: rgba(229, 229, 229, 0.209);
}

/* -----------------------------------
Fonts styles 
---------------------------------------*/
.f-18{
    font-size: 18px;
}
.f-22{
    font-size: 22px;
}
.f-33{
    font-size: 33px;
}
.f-28{
    font-size: 28px;
}

.f-48{
    font-size: 48px;
}
.f-80{
    font-size: 70px;
}
.f-20{
    font-size: 20px;
    z-index: 1;
}
.f-60{
    font-size: 55px;
    line-height: 55;
}
.f-55{
    font-style: normal;
font-weight: 600;
font-size: 55px;
line-height: 114%;
/* or 63px */

text-align: center;
letter-spacing: 0.065em;
text-transform: uppercase;

color: #FFFFFF;
}

/* font colors */
.text-green{
    color: #53B05C;
}
.f-light{  
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
/* font-size: 80px; */
line-height: 80px;
letter-spacing: 0.065em;
text-transform: uppercase;

color: rgba(83, 176, 92, 0.27);

opacity: 0.72

}
.f-green{
    font-weight: 600;
font-size: 55px;
line-height: 114%;
letter-spacing: 0.065em;
text-transform: uppercase;
color: #53B05C;
opacity: 0.72;
}
.mt-200{
    margin-top: 200px;
}
.mt-150{
    margin-top: 10px;
}
.f-35{
    font-weight: 300;
font-size: 35px;
line-height: 52px;
/* identical to box height */

letter-spacing: 0.065em;
text-transform: uppercase;

color: #111111;

}


/* font weights */
.w-300{
    font-weight: 300;
}
.w-500{
    font-weight: 500;
}
.w-700{
    font-weight: 700;
}
.w-600{
    font-weight: 600;
}
.family-fair{
    font-family: 'Playfair Display';
}



/* background */
.sec-1{
    position: relative;
}
.circle{
    position: absolute;
    left: 0px;
    top: 10px;
    z-index: 60;
}
.circle-1{
    position: absolute;
   right: 0px;
    top: 10px;
    z-index: 60;
}
.circle-center{
    position: absolute;
    right: 20%;
    top: 100px;
    z-index: 60;
}
.circle-2{
    position: absolute;
   left: 0px;
    top: 0px;
    z-index: 60;
}
.ls{
    letter-spacing: 0.495em !important;

}



/* -----------------------------------
Home page
------------------------------------ */
.header{ 
    height: 100vh;
    /* background-image: url('./images/Screenshot (5) 1.png');
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center; */
    /* background-color: #959595; */
 } 
 .Td-view{
    height: 100% !important;
    
 }
 .Td-row{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    height: 100%;
 }

 /* .navbar-light .navbar-nav .nav-link {
    color: black !important;
} */
.navbar-light .navbar-nav .active {
    color: #53B05C !important;
}
.iframe{
    min-height: 800px !important;
    width: 100%;
    position: relative;
}
.iframe2{
    height: 400px;
    width: 100%;
    position: relative;
}

.iframe .modal-header{
    display: none !important;
}
.iframe .modal-content{
    min-height: 100vh !important;
}

.navbar{
    position: relative;
    z-index: 100;
}
.nav-link{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.04em; 
    color: #FFFFFF;
    text-transform: uppercase;
}
.nav-link:hover{
    color: #53B05C !important;
}
.active{
    color: #53B05C !important;
}
.nav-btn{
    background: #53B05C;
    border-radius: 6px;
    padding: 4px 15px;
    border: none !important;
    outline: none !important;
}
.nav-btn .nav-link{
    font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 21px;
text-align: center;
color: #FFFFFF !important;
}
.nav-btn:hover{
    background-color: white;
}
.main-text h1{
    font-family: 'Playfair Display';
font-style: normal;
font-weight: 800;
font-size: 120px;
line-height: 125%;
text-transform: uppercase;
position: relative;

color: #FFFFFF;
}
.heading-secondary{
    
font-family: 'Poppins';
font-style: normal;
font-weight: 800;
font-size: 30px;
line-height: 125%;
color: #FFFFFF;

}
.text{
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;

color: #FFFFFF;
}
.header-text{
   margin-top: 25vh;
    padding: 0px 30px;
    margin-bottom: auto;
}
.p-responsive{
    padding: 0px 30px;
    position: relative;

}

.steps-text p{
text-transform:uppercase;
}
.steps-img img{
    width: 497px;
    height: auto;
    border-radius: 6px;
}
.nmt-50{
    margin-top: -150px;
}
.steps-row{
    margin-top: 80px;
}
/* percentage */
.percentage{
    width: 100vw !important;
}
.last-section{
    background-image: url('./images/Vector\ \(3\).png');
}
.last-text{
    font-family: 'Playfair Display';
font-style: normal;
font-weight: 700;
font-size: 55px;
line-height: 73px;
letter-spacing: 0.065em;
text-transform: uppercase;

color: #111111;

}
.footer-list{
    list-style: none;
}
.footer-list li{
   margin: 0px 7px;
   font-size: 12px;
}
.footer-list li a{
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 15px;
color: #454B51;
text-decoration: none;
white-space:nowrap;
text-transform: uppercase;
 }
 .text-copy {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */
    
    
    color: #848484;
    
 }

 body::-webkit-scrollbar {
    height: 100%;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform-origin: center right;
   background-color: transparent !important;
    width:7px;
  }
   
  body::-webkit-scrollbar-track {
   background-color: transparent;
  }
  ::-webkit-scrollbar * {
    background: transparent;
 }
  body::-webkit-scrollbar-thumb {
    background-color: #000;
    border-radius: 10px;
    cursor: -webkit-grab;
    cursor: grab;
    margin: 2px;
    opacity: .5;
    position: absolute;
    right: 0;
    top: 0;
    width: 7px;
  }
  /* ::-webkit-scrollbar {
    background-color: transparent;
    width: 10px;
}
* {
    scrollbar-width: thin;
    scrollbar-color:red;
}
*::-webkit-scrollbar-track {
    background-color: transparent !important;
}
*::-webkit-scrollbar-thumb {
    background-color: blue ;
    border-radius: 20px;
    border: 3px solid transparent;
} */



/* ----------------------------------
about Us
---------------------------------- */
.about-header{
    background:linear-gradient(to right,rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)) , url('./images/getty_537417802_348333\ 1.png');
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
}
.main-text-2 h1{
    font-family: 'Playfair Display';
font-style: normal;
font-weight: 800;
font-size: 100px;
line-height: 125%;
text-transform: uppercase;
color: #FFFFFF;
position: relative;

}
.input{
    width: 100%;
    border: none !important;
    border-bottom: 1px solid #000000 !important;
    outline: none !important;
    padding: 7px 0px;
    background-color: transparent !important;
    margin-bottom: 50px;
    font-weight: 500;
    font-size: 22px;
    line-height: 33px;
    letter-spacing: 0.065em;
    text-transform: uppercase;
    color: #979797;

}
.input::placeholder{
    font-weight: 500;
font-size: 22px;
line-height: 33px;
letter-spacing: 0.065em;
text-transform: uppercase;
color: #979797;
}
.input:active{
    outline: none !important;
    box-shadow: none !important;
}
.green-btn{
    font-weight: 500;
    font-size: 20;
    line-height: 38px;
    text-align: center;
    letter-spacing: 0.065em;
    text-transform: uppercase; 
    color: #FFFFFF;
    width: 200px;
    height: 50px;   
    background: #53B05C;
    border-radius: 45px;  
    border: none ;  
}
/* -----------------------------
benifits
---------------------------- */
.border-bottom{
    border-bottom: 1px solid #E9E9E9;
}
.greener-tomorrow{
    background:linear-gradient(to right,rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)) , url('./images/depositphotos_76782389-stock-photo-summer-mountain-lake-forrest\ 1.png');
    height:100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    padding: 100px 0px;
}
.border-radius{
    border-radius: 5px !important;
}
.solution-header{
    background:linear-gradient(to right,rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)) , url('./images/EXPOSURE_CENTER_FEATURED_tip2-sethkhughes-landscape-photo.jpg');
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
}
.benifits-header{
    background:linear-gradient(to right,rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)) , url('./images/HORIZON-2.jpg');
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
}


#wearfits_viewer{
    width: 100% !important;
    height: 100% !important;
    margin: 0px !important;
    display:block !important
}
.z-70{
    position: relative;
    z-index: 70;
}
/* .Td-view{
    position: relative;
}
.ipad{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
} */
.iframe3{
    height:600px !important;
    width: 100%;
}
.vh-100{
    height: 100vh;
}
.foot-img{
    border-radius: 6px;
}
.no-transform{
    text-transform: none !important;
}